*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow-x: hidden;
    background-repeat: no-repeat; 
    list-style: none;
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url(./assets/images/Firewatch-background-afternoon.png);

}
html, body { 
    scroll-behavior: smooth;
  }
header{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Lato', sans-serif;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    gap: 35px;
}
a{
    color: white;
    font-size: 30px;
}


section#home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(./assets/images/Firewatch-background-afternoon.png);
    overflow: hidden;
}

section#about{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(./assets/images/Firewatch-background-dark.png);
}

img#logo{
    width: 7rem;
    height: 7rem;
    margin-inline: 30px;
}
img.bird{
    width: 40px;
    height: 40px;
}


#b1{
    animation: bird 13s linear infinite;
}

#b2{
    animation: bird1 13s linear infinite;
}

@keyframes bird {
    0%{
        transform: scale(.1) translate(13vw, 50vh);
    }
    100%{
        transform: scale(1) translate(120vw, 70vh);
    }

}

@keyframes bird1 {
    0%{
        transform: scale(.6) translate(0vw, 60vh);
    }
    100%{
        transform: scale(1.4) translate(100vw, 50vh);
    }

}

#transY{
    transform: translateY(-7px);
}


.underlined::after{
    margin-top: 340px; 
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    transition: width 240ms linear, margin-top 300ms linear;

}

.underlined:hover::after{
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 3px;
    transition: width 210ms linear, margin-top 300ms linear;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    font-family: cursive;

    animation: appear 900ms linear forwards;
}
h1{
    font-size: x-large;
    color:rgba(255, 255, 255, 0);
    word-spacing: 9px;
    background-image: linear-gradient(45deg,rgb(27, 26, 26), rgb(67, 63, 63));
    background-clip: text;
    -webkit-background-clip: text;



}
h2{
    font-size: 45px;
    border-right: 1px solid rgb(239, 234, 234);
    animation: cursor 700ms linear infinite, widthing 2s steps(43) forwards alternate;
    filter: drop-shadow(10px 25px 1px rgba(0, 0, 0, 0.275));
    white-space: nowrap;
    word-spacing: 10px;

}
@keyframes cursor {
    0%{
        border-right: 2.5px solid rgb(26, 26, 26);
    }
    100%{
        border-right: 2.5px solid transparent;
    }
}


@keyframes widthing{
    0%{
        width: 1px;
    }
    100%{
        width: 32rem;
    }
}

@keyframes appear {
    from{
        transform: scale(.3);
        filter:opacity(0);
    } 
    to{
        transform: scale(1.1);
        filter:opacity(1);

    }
}


::selection{
    background-color: transparent;
}