*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    list-style: none;
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background-image: url(./assets/images//Firewatch-background-dark-blue-stars.png);
}
:root{
    --section1: url(./assets/images//Background-afternoon.png);
    --section2: url(./assets/images//Background-white.jpg);
    --section3: url(./assets/images//Background-white.jpg);
    --section4: url(./assets/images//Background-white.jpg);

}

/* HEADER */
header{
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Lato', sans-serif;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    gap: 45px;
}
ul{
    animation: appear 300ms ease-out;

}
img#logo{
    width: 7rem;
    height: 7rem;
    margin-inline: 30px;
}


#transY{
    transform: translateY(-7px);
}

.underlined::after{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    margin: auto;
    background-color: rgb(255, 255, 255);
    transition: width 240ms linear, margin-top 300ms linear;
}
.underlined:hover::after{
    content: '';
    width: 50px;
    height: 2px;
    border-radius: 20px;
    margin: auto;
    display: block;
    margin-top: 3px;
    background-color: rgb(255, 255, 255);
    transition: width 210ms linear, margin-top 300ms linear;
}





/* SECTIONS */ 
section#home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 1100px;
    background-attachment: fixed;
    background-size: cover;
    background-image: var(--section1);
    overflow: hidden;
}

section#about{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: var(--section2);
}

section#projects{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: var(--section3);
}

section#contact{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: var(--section4);
}

main{
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: cursive;
    width: 100%;
    height: 50vh;
}

h1{
    font-size: 24px;
    color: transparent;
    word-spacing: 8px;
    background-image: linear-gradient(to right,rgb(27, 26, 26), rgb(78, 75, 74), rgb(1, 1, 1));
    background-clip: text;
    -webkit-background-clip: text;
    animation: appear 300ms ease-out;
}
h1::after{
    content: '';
    margin: 10px auto 5px auto;
    display: block;
    width: 50%;
    height: 4.5px;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.674);
}

h2 a{
    padding: 7px 0 30px 0;
    text-align: center;
    display: block;
    font-size: 45px;
    color: black;
    white-space: nowrap;
    letter-spacing: 7px;
    animation: typing 3s steps(37) forwards,cursor 500ms infinite;
    filter: drop-shadow(3px 25px 1px rgba(0, 0, 0, 0.121));
    transition: 
    color 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035),
    filter 200ms linear;

    line-height: 75%;
}
h2 a:hover{
    color: rgb(231, 25, 87);
    filter: drop-shadow(3px 25px 1px rgba(232, 63, 63, 0.371));
    transition: color 200ms linear, filter 200ms linear;


}







/* Birds */ 
img.bird{
    width: 40px;
    height: 40px;
}

#b1{
    animation: bird 13s linear infinite;
}
#b2{
    animation: bird1 13s linear infinite;
}
@keyframes bird {
    0%{
        transform: translateX(-60vw) translateY(-50vh) scale(.1);
    }
    100%{
        transform: translateX(60vw) translateY(0vh) scale(1.2);
    }
}
@keyframes bird1 {
    0%{
        transform: translateX(-80vw) translateY(90vh) scale(3);
        filter: opacity(1);
    }
    100%{
        transform: translateX(60vw) translateY(-90vh) scale(.4);
        filter: opacity(.2);
    }

}






/* Typing effect */
@keyframes appear {
    from{
        filter: opacity(0);
        transform: translateX(-670px);

    }
    to{
        filter: opacity(1);
        transform: translateX(0);

    }
} 

@keyframes cursor {
    0%{
        border-right: 2px solid rgb(244, 241, 241);
    }
    100%{
        border-right: 2px solid transparent;
    }
}

@keyframes typing {
    0%{
        width: 0;
    } 
    100%{
        width: 37rem;
    }
}



/*              Others */ 


/* background-color & color changes when selection an element */
::selection{
    background-color: rgba(243, 240, 242, 0.147);
    color: rgb(240, 233, 233);
}


/* scrollbar */ 
::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(43, 43, 45, 0.997);
}
::-webkit-scrollbar-thumb{
    background-color: #0c0b0b;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #3f3f3ff5;
}

