*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    list-style: none;
    text-decoration: none;
    color: white;

}

body{
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
}

/* HEADER */
header{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Lato', sans-serif;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    gap: 45px;
}

img#logo{
    width: 7rem;
    height: 7rem;
    margin-inline: 30px;
}


#transY{
    transform: translateY(-7px);
}

.underlined::after{
    content: '';
    width: 0;
    height: 2px;
    display: block;
    margin: auto;
    background-color: rgb(255, 255, 255);
    transition: width 240ms linear, margin-top 300ms linear;
}
.underlined:hover::after{
    content: '';
    width: 50px;
    height: 2px;
    border-radius: 20px;
    margin: auto;
    display: block;
    margin-top: 3px;
    background-color: rgb(255, 255, 255);
    transition: width 210ms linear, margin-top 300ms linear;
}





/* SECTIONS */ 
section#home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.873) 5%, rgba(10, 10, 10, 0.267) 30%, transparent) , url(./assets/images/Firewatch-background-afternoon.png);
    overflow: hidden;
}

section#about{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(./assets/images/Firewatch-background-dark.png);
}

main{
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: cursive;
    width: 100%;
    height: 50vh;
}

h1{
    font-size: 49px;
    color: transparent;
    word-spacing: 8px;
    background-image: linear-gradient(to right,rgb(27, 26, 26), rgb(78, 75, 74), rgb(1, 1, 1));
    background-clip: text;
    -webkit-background-clip: text;
    animation: appear 300ms linear;
}
h1::after{
    content: '';
    margin: 10px auto 5px auto;
    display: block;
    width: 50%;
    height: 4.5px;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.674);
}

h2 a{
    padding: 5px 0 20px 0;
    text-align: center;
    display: block;
    font-size: 45px;
    white-space: nowrap;

    animation: typing 3s steps(37) forwards,cursor 500ms infinite;
    filter: drop-shadow(3px 17px 1px rgba(0, 0, 0, 0.246));
    transition: color 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035);

    line-height: 75%;
}
h2 a:hover{
    color: rgb(231, 25, 87);
    transition: color 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035)
}




/* h2#letsw{
    font-size: 45px;
    display: block;
    border-right: 1px solid rgb(239, 234, 234);
    animation: cursor 700ms linear infinite, widthing 2s steps(43) forwards alternate;
    filter: drop-shadow(10px 25px 1px rgba(0, 0, 0, 0.275));
    white-space: nowrap;
    color: rgba(226, 19, 85, 0);
    word-spacing: 10px;
    transition: color 200ms linear;
    text-align: center;

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to top,rgba(241, 118, 41, 0.57), rgba(247, 183, 55, 0.396), rgba(0, 0, 0, 0.772) 56%);
} */





/* Birds */ 
img.bird{
    width: 40px;
    height: 40px;
}

#b1{
    animation: bird 13s linear infinite;
}
#b2{
    animation: bird1 13s linear infinite;
}
@keyframes bird {
    0%{
        transform: translateX(-60vw) translateY(-50vh) scale(.1);
    }
    100%{
        transform: translateX(60vw) translateY(0vh) scale(1.2);
    }
}
@keyframes bird1 {
    0%{
        transform: translateX(-80vw) translateY(90vh) scale(3);
        filter: opacity(1);
    }
    100%{
        transform: translateX(60vw) translateY(-90vh) scale(.4);
        filter: opacity(.2);
    }

}






/* Typing effect */
@keyframes appear {
    from{
        filter: opacity(0) blur(40px);
        transform: translateX(-210px);

    }
    to{
        filter: opacity(1) blur(0);
        transform: translateX(0);

    }
} 


@keyframes cursor {
    0%{
        border-right: 2px solid rgb(244, 241, 241);
    }
    100%{
        border-right: 2px solid transparent;
    }
}

@keyframes typing {
    0%{
        width: 0;
    } 
    100%{
        width: 30rem;
    }
}



/* Others */ 
::selection{
    background-color: rgba(243, 240, 242, 0.147);
    color: rgb(240, 233, 233);
}


